In [1]:
import os
import pandas as pd
import requests
import json
import yfinance as yf
from dotenv import load_dotenv
from openai import OpenAI
import pprint

In [2]:
# Load .env file
load_dotenv()

True

In [3]:
# Check if the environment variable is set for Open AI API
api_key = os.getenv("OPENAI_API_KEY")
if api_key is None:
    raise ValueError("The environment variable 'OPENAI_API_KEY' is not set.")

In [4]:
# Check if the environment variable is set for Vantage API
van_api_key = os.getenv("VANTAGE_API_KEY")
if van_api_key is None:
    raise ValueError("The environment variable 'VANTAGE_API_KEY' is not set.")

In [5]:
# Stock symbol for S&P 500
symbol = "SPY"

# API URL for real-time stock data
stock_url = f"https://www.alphavantage.co/query?function=TIME_SERIES_DAILY&symbol={symbol}&apikey={van_api_key}"

# Fetch stock data
response = requests.get(stock_url)

stock_data = response.json()

print(stock_data)

{'Meta Data': {'1. Information': 'Daily Prices (open, high, low, close) and Volumes', '2. Symbol': 'SPY', '3. Last Refreshed': '2025-03-10', '4. Output Size': 'Compact', '5. Time Zone': 'US/Eastern'}, 'Time Series (Daily)': {'2025-03-10': {'1. open': '567.5900', '2. high': '569.5400', '3. low': '555.5900', '4. close': '560.5800', '5. volume': '97084529'}, '2025-03-07': {'1. open': '570.9000', '2. high': '577.3900', '3. low': '565.6300', '4. close': '575.9200', '5. volume': '81158816'}, '2025-03-06': {'1. open': '575.4800', '2. high': '580.1736', '3. low': '570.1200', '4. close': '572.7100', '5. volume': '80094868'}, '2025-03-05': {'1. open': '576.6900', '2. high': '584.8800', '3. low': '573.0795', '4. close': '583.0600', '5. volume': '71230528'}, '2025-03-04': {'1. open': '579.7100', '2. high': '585.3900', '3. low': '572.2500', '4. close': '576.8600', '5. volume': '109648212'}, '2025-03-03': {'1. open': '596.1800', '2. high': '597.3400', '3. low': '579.9000', '4. close': '583.7700', '5. volume': '74249199'}, '2025-02-28': {'1. open': '585.5600', '2. high': '594.7200', '3. low': '582.4400', '4. close': '594.1800', '5. volume': '88744106'}, '2025-02-27': {'1. open': '596.8500', '2. high': '598.0200', '3. low': '584.6500', '4. close': '585.0500', '5. volume': '74196664'}, '2025-02-26': {'1. open': '595.9300', '2. high': '599.5800', '3. low': '591.8556', '4. close': '594.5400', '5. volume': '43321578'}, '2025-02-25': {'1. open': '597.1500', '2. high': '597.8900', '3. low': '589.5600', '4. close': '594.2400', '5. volume': '58266472'}, '2025-02-24': {'1. open': '602.0200', '2. high': '603.0300', '3. low': '596.4900', '4. close': '597.2100', '5. volume': '50737213'}, '2025-02-21': {'1. open': '610.1600', '2. high': '610.3000', '3. low': '599.4700', '4. close': '599.9400', '5. volume': '76519818'}, '2025-02-20': {'1. open': '611.5400', '2. high': '611.6840', '3. low': '607.0200', '4. close': '610.3800', '5. volume': '36554002'}, '2025-02-19': {'1. open': '610.0800', '2. high': '613.2300', '3. low': '609.5600', '4. close': '612.9300', '5. volume': '31011072'}, '2025-02-18': {'1. open': '610.8800', '2. high': '611.4900', '3. low': '608.3800', '4. close': '611.4900', '5. volume': '26749030'}, '2025-02-14': {'1. open': '609.9400', '2. high': '610.9900', '3. low': '609.0700', '4. close': '609.7000', '5. volume': '26910448'}, '2025-02-13': {'1. open': '604.4800', '2. high': '609.9400', '3. low': '603.2000', '4. close': '609.7300', '5. volume': '40921297'}, '2025-02-12': {'1. open': '599.2000', '2. high': '604.5500', '3. low': '598.5100', '4. close': '603.3600', '5. volume': '45076076'}, '2025-02-11': {'1. open': '602.5500', '2. high': '605.8600', '3. low': '602.4300', '4. close': '605.3100', '5. volume': '30056740'}, '2025-02-10': {'1. open': '604.0300', '2. high': '605.4999', '3. low': '602.7400', '4. close': '604.8500', '5. volume': '26048714'}, '2025-02-07': {'1. open': '606.8900', '2. high': '608.1300', '3. low': '600.0500', '4. close': '600.7700', '5. volume': '50788516'}, '2025-02-06': {'1. open': '605.9900', '2. high': '606.4525', '3. low': '602.6300', '4. close': '606.3200', '5. volume': '35771503'}, '2025-02-05': {'1. open': '600.6400', '2. high': '604.3700', '3. low': '598.5800', '4. close': '604.2200', '5. volume': '30653149'}, '2025-02-04': {'1. open': '597.8300', '2. high': '602.3000', '3. low': '597.2800', '4. close': '601.7800', '5. volume': '33457815'}, '2025-02-03': {'1. open': '592.6700', '2. high': '600.2900', '3. low': '590.4900', '4. close': '597.7700', '5. volume': '65857248'}, '2025-01-31': {'1. open': '607.5000', '2. high': '609.9600', '3. low': '601.0500', '4. close': '601.8200', '5. volume': '66671471'}, '2025-01-30': {'1. open': '603.9600', '2. high': '606.6000', '3. low': '600.7150', '4. close': '605.0400', '5. volume': '39281255'}, '2025-01-29': {'1. open': '603.7200', '2. high': '604.1300', '3. low': '599.2200', '4. close': '601.8100', '5. volume': '37177429'}, '2025-01-28': {'1. open': '600.6200', '2. high': '605.3700', '3. low': '597.2500', '4. close': '604.5200', '5. volume': '44433322'}, '2025-01-27': {'1. open': '594.8100', '2. high': '599.6900', '3. low': '594.6400', '4. close': '599.3700', '5. volume': '70361125'}, '2025-01-24': {'1. open': '609.8100', '2. high': '610.7800', '3. low': '606.8000', '4. close': '607.9700', '5. volume': '34604693'}, '2025-01-23': {'1. open': '605.8000', '2. high': '609.7500', '3. low': '605.5200', '4. close': '609.7500', '5. volume': '41152102'}, '2025-01-22': {'1. open': '605.9200', '2. high': '607.8200', '3. low': '605.3600', '4. close': '606.4400', '5. volume': '48195973'}, '2025-01-21': {'1. open': '600.6700', '2. high': '603.0600', '3. low': '598.6700', '4. close': '603.0500', '5. volume': '42532853'}, '2025-01-17': {'1. open': '596.9600', '2. high': '599.3600', '3. low': '595.6100', '4. close': '597.5800', '5. volume': '58070628'}, '2025-01-16': {'1. open': '594.1750', '2. high': '594.3500', '3. low': '590.9300', '4. close': '591.6400', '5. volume': '43319662'}, '2025-01-15': {'1. open': '590.3250', '2. high': '593.9400', '3. low': '589.1950', '4. close': '592.7800', '5. volume': '56900159'}, '2025-01-14': {'1. open': '584.3600', '2. high': '585.0000', '3. low': '578.3500', '4. close': '582.1900', '5. volume': '48420580'}, '2025-01-13': {'1. open': '575.7700', '2. high': '581.7500', '3. low': '575.3500', '4. close': '581.3900', '5. volume': '47910060'}, '2025-01-10': {'1. open': '585.8800', '2. high': '585.9500', '3. low': '578.5500', '4. close': '580.4900', '5. volume': '73105046'}, '2025-01-08': {'1. open': '588.7000', '2. high': '590.5799', '3. low': '585.1950', '4. close': '589.4900', '5. volume': '47304672'}, '2025-01-07': {'1. open': '597.4200', '2. high': '597.7500', '3. low': '586.7800', '4. close': '588.6300', '5. volume': '60393052'}, '2025-01-06': {'1. open': '596.2700', '2. high': '599.7000', '3. low': '593.6000', '4. close': '595.3600', '5. volume': '47679442'}, '2025-01-03': {'1. open': '587.5300', '2. high': '592.6000', '3. low': '586.4300', '4. close': '591.9500', '5. volume': '37888459'}, '2025-01-02': {'1. open': '589.3900', '2. high': '591.1300', '3. low': '580.5000', '4. close': '584.6400', '5. volume': '50203975'}, '2024-12-31': {'1. open': '589.9050', '2. high': '590.6399', '3. low': '584.4200', '4. close': '586.0800', '5. volume': '57052654'}, '2024-12-30': {'1. open': '587.8900', '2. high': '591.7400', '3. low': '584.4100', '4. close': '588.2200', '5. volume': '56578757'}, '2024-12-27': {'1. open': '597.5400', '2. high': '597.7761', '3. low': '590.7647', '4. close': '595.0100', '5. volume': '64969310'}, '2024-12-26': {'1. open': '599.5000', '2. high': '602.4800', '3. low': '598.0825', '4. close': '601.3400', '5. volume': '41338891'}, '2024-12-24': {'1. open': '596.0600', '2. high': '601.3400', '3. low': '595.4700', '4. close': '601.3000', '5. volume': '33160097'}, '2024-12-23': {'1. open': '590.8900', '2. high': '595.3000', '3. low': '587.6610', '4. close': '594.6900', '5. volume': '57635828'}, '2024-12-20': {'1. open': '581.7700', '2. high': '595.7500', '3. low': '580.9100', '4. close': '591.1500', '5. volume': '125716674'}, '2024-12-19': {'1. open': '591.3600', '2. high': '593.0000', '3. low': '585.8500', '4. close': '586.1000', '5. volume': '85919452'}, '2024-12-18': {'1. open': '603.9800', '2. high': '606.4050', '3. low': '585.8900', '4. close': '586.2800', '5. volume': '108248729'}, '2024-12-17': {'1. open': '604.1900', '2. high': '605.1700', '3. low': '602.8850', '4. close': '604.2900', '5. volume': '55773545'}, '2024-12-16': {'1. open': '606.0000', '2. high': '607.7795', '3. low': '605.2100', '4. close': '606.7900', '5. volume': '43695179'}, '2024-12-13': {'1. open': '606.4000', '2. high': '607.1300', '3. low': '602.8100', '4. close': '604.2100', '5. volume': '35904730'}, '2024-12-12': {'1. open': '606.5800', '2. high': '607.1600', '3. low': '604.3300', '4. close': '604.3300', '5. volume': '31543812'}, '2024-12-11': {'1. open': '605.7800', '2. high': '608.4350', '3. low': '605.5000', '4. close': '607.4600', '5. volume': '28677723'}, '2024-12-10': {'1. open': '605.3700', '2. high': '605.8000', '3. low': '602.1300', '4. close': '602.8000', '5. volume': '37234515'}, '2024-12-09': {'1. open': '607.6900', '2. high': '607.8600', '3. low': '604.0800', '4. close': '604.6800', '5. volume': '34742738'}, '2024-12-06': {'1. open': '607.4400', '2. high': '609.0700', '3. low': '607.0200', '4. close': '607.8100', '5. volume': '31241549'}, '2024-12-05': {'1. open': '607.6600', '2. high': '608.4800', '3. low': '606.3050', '4. close': '606.6600', '5. volume': '28762183'}, '2024-12-04': {'1. open': '605.6300', '2. high': '607.9100', '3. low': '604.9500', '4. close': '607.6600', '5. volume': '42787561'}, '2024-12-03': {'1. open': '603.3900', '2. high': '604.1600', '3. low': '602.3410', '4. close': '603.9100', '5. volume': '26906629'}, '2024-12-02': {'1. open': '602.9700', '2. high': '604.3200', '3. low': '602.4700', '4. close': '603.6300', '5. volume': '31745989'}, '2024-11-29': {'1. open': '599.6600', '2. high': '603.3500', '3. low': '599.3800', '4. close': '602.5500', '5. volume': '30095740'}, '2024-11-27': {'1. open': '600.4600', '2. high': '600.8500', '3. low': '597.2800', '4. close': '598.8300', '5. volume': '34000163'}, '2024-11-26': {'1. open': '598.8000', '2. high': '601.3300', '3. low': '598.0700', '4. close': '600.6500', '5. volume': '45621288'}, '2024-11-25': {'1. open': '599.5200', '2. high': '600.8600', '3. low': '595.2000', '4. close': '597.5300', '5. volume': '42441393'}, '2024-11-22': {'1. open': '593.6600', '2. high': '596.1500', '3. low': '593.1525', '4. close': '595.5100', '5. volume': '38226390'}, '2024-11-21': {'1. open': '593.4000', '2. high': '595.1200', '3. low': '587.4500', '4. close': '593.6700', '5. volume': '46750285'}, '2024-11-20': {'1. open': '590.3800', '2. high': '590.7900', '3. low': '584.6300', '4. close': '590.5000', '5. volume': '50032576'}, '2024-11-19': {'1. open': '584.7100', '2. high': '591.0450', '3. low': '584.0300', '4. close': '590.3000', '5. volume': '49412046'}, '2024-11-18': {'1. open': '586.2200', '2. high': '589.4900', '3. low': '585.3400', '4. close': '588.1500', '5. volume': '37084081'}, '2024-11-15': {'1. open': '589.7200', '2. high': '590.2000', '3. low': '583.8600', '4. close': '585.7500', '5. volume': '75988766'}, '2024-11-14': {'1. open': '597.3200', '2. high': '597.8100', '3. low': '592.6500', '4. close': '593.3500', '5. volume': '38904109'}, '2024-11-13': {'1. open': '597.3700', '2. high': '599.2300', '3. low': '594.9600', '4. close': '597.1900', '5. volume': '47388640'}, '2024-11-12': {'1. open': '598.6800', '2. high': '599.2900', '3. low': '594.3700', '4. close': '596.9000', '5. volume': '43006128'}, '2024-11-11': {'1. open': '599.8100', '2. high': '600.1700', '3. low': '597.0000', '4. close': '598.7600', '5. volume': '37586773'}, '2024-11-08': {'1. open': '596.1700', '2. high': '599.6400', '3. low': '596.1650', '4. close': '598.1900', '5. volume': '46444893'}, '2024-11-07': {'1. open': '593.0800', '2. high': '596.6500', '3. low': '592.9999', '4. close': '595.6100', '5. volume': '47233212'}, '2024-11-06': {'1. open': '589.2000', '2. high': '591.9300', '3. low': '585.3900', '4. close': '591.0400', '5. volume': '68181968'}, '2024-11-05': {'1. open': '570.7400', '2. high': '576.7400', '3. low': '570.5200', '4. close': '576.7000', '5. volume': '39478322'}, '2024-11-04': {'1. open': '571.1800', '2. high': '572.5000', '3. low': '567.8900', '4. close': '569.8100', '5. volume': '38216975'}, '2024-11-01': {'1. open': '571.3200', '2. high': '575.5500', '3. low': '570.6200', '4. close': '571.0400', '5. volume': '45667533'}, '2024-10-31': {'1. open': '575.5600', '2. high': '575.6300', '3. low': '568.4400', '4. close': '568.6400', '5. volume': '60182451'}, '2024-10-30': {'1. open': '581.2900', '2. high': '583.3200', '3. low': '579.2900', '4. close': '580.0100', '5. volume': '41435839'}, '2024-10-29': {'1. open': '579.8500', '2. high': '582.9070', '3. low': '578.4300', '4. close': '581.7700', '5. volume': '42899661'}, '2024-10-28': {'1. open': '582.5800', '2. high': '582.7100', '3. low': '580.5200', '4. close': '580.8300', '5. volume': '30174704'}, '2024-10-25': {'1. open': '581.5100', '2. high': '584.4600', '3. low': '578.0800', '4. close': '579.0400', '5. volume': '47268176'}, '2024-10-24': {'1. open': '579.9800', '2. high': '580.0600', '3. low': '576.5700', '4. close': '579.2400', '5. volume': '34979860'}, '2024-10-23': {'1. open': '581.2600', '2. high': '581.7086', '3. low': '574.4150', '4. close': '577.9900', '5. volume': '49314574'}, '2024-10-22': {'1. open': '581.0500', '2. high': '584.5000', '3. low': '580.3800', '4. close': '583.3200', '5. volume': '34183835'}, '2024-10-21': {'1. open': '583.8500', '2. high': '584.8500', '3. low': '580.6001', '4. close': '583.6300', '5. volume': '36439010'}, '2024-10-18': {'1. open': '584.0700', '2. high': '585.3900', '3. low': '582.5800', '4. close': '584.5900', '5. volume': '37416801'}, '2024-10-17': {'1. open': '585.9100', '2. high': '586.1200', '3. low': '582.1600', '4. close': '582.3500', '5. volume': '34393714'}, '2024-10-16': {'1. open': '579.7800', '2. high': '582.8300', '3. low': '578.9600', '4. close': '582.3000', '5. volume': '30725436'}, '2024-10-15': {'1. open': '584.5900', '2. high': '584.9000', '3. low': '578.5450', '4. close': '579.7800', '5. volume': '54203636'}, '2024-10-14': {'1. open': '581.2200', '2. high': '585.2700', '3. low': '580.7300', '4. close': '584.3200', '5. volume': '36217215'}}}

In [6]:
# Extract time series data
time_series = stock_data["Time Series (Daily)"]
print(time_series)

{'2025-03-10': {'1. open': '567.5900', '2. high': '569.5400', '3. low': '555.5900', '4. close': '560.5800', '5. volume': '97084529'}, '2025-03-07': {'1. open': '570.9000', '2. high': '577.3900', '3. low': '565.6300', '4. close': '575.9200', '5. volume': '81158816'}, '2025-03-06': {'1. open': '575.4800', '2. high': '580.1736', '3. low': '570.1200', '4. close': '572.7100', '5. volume': '80094868'}, '2025-03-05': {'1. open': '576.6900', '2. high': '584.8800', '3. low': '573.0795', '4. close': '583.0600', '5. volume': '71230528'}, '2025-03-04': {'1. open': '579.7100', '2. high': '585.3900', '3. low': '572.2500', '4. close': '576.8600', '5. volume': '109648212'}, '2025-03-03': {'1. open': '596.1800', '2. high': '597.3400', '3. low': '579.9000', '4. close': '583.7700', '5. volume': '74249199'}, '2025-02-28': {'1. open': '585.5600', '2. high': '594.7200', '3. low': '582.4400', '4. close': '594.1800', '5. volume': '88744106'}, '2025-02-27': {'1. open': '596.8500', '2. high': '598.0200', '3. low': '584.6500', '4. close': '585.0500', '5. volume': '74196664'}, '2025-02-26': {'1. open': '595.9300', '2. high': '599.5800', '3. low': '591.8556', '4. close': '594.5400', '5. volume': '43321578'}, '2025-02-25': {'1. open': '597.1500', '2. high': '597.8900', '3. low': '589.5600', '4. close': '594.2400', '5. volume': '58266472'}, '2025-02-24': {'1. open': '602.0200', '2. high': '603.0300', '3. low': '596.4900', '4. close': '597.2100', '5. volume': '50737213'}, '2025-02-21': {'1. open': '610.1600', '2. high': '610.3000', '3. low': '599.4700', '4. close': '599.9400', '5. volume': '76519818'}, '2025-02-20': {'1. open': '611.5400', '2. high': '611.6840', '3. low': '607.0200', '4. close': '610.3800', '5. volume': '36554002'}, '2025-02-19': {'1. open': '610.0800', '2. high': '613.2300', '3. low': '609.5600', '4. close': '612.9300', '5. volume': '31011072'}, '2025-02-18': {'1. open': '610.8800', '2. high': '611.4900', '3. low': '608.3800', '4. close': '611.4900', '5. volume': '26749030'}, '2025-02-14': {'1. open': '609.9400', '2. high': '610.9900', '3. low': '609.0700', '4. close': '609.7000', '5. volume': '26910448'}, '2025-02-13': {'1. open': '604.4800', '2. high': '609.9400', '3. low': '603.2000', '4. close': '609.7300', '5. volume': '40921297'}, '2025-02-12': {'1. open': '599.2000', '2. high': '604.5500', '3. low': '598.5100', '4. close': '603.3600', '5. volume': '45076076'}, '2025-02-11': {'1. open': '602.5500', '2. high': '605.8600', '3. low': '602.4300', '4. close': '605.3100', '5. volume': '30056740'}, '2025-02-10': {'1. open': '604.0300', '2. high': '605.4999', '3. low': '602.7400', '4. close': '604.8500', '5. volume': '26048714'}, '2025-02-07': {'1. open': '606.8900', '2. high': '608.1300', '3. low': '600.0500', '4. close': '600.7700', '5. volume': '50788516'}, '2025-02-06': {'1. open': '605.9900', '2. high': '606.4525', '3. low': '602.6300', '4. close': '606.3200', '5. volume': '35771503'}, '2025-02-05': {'1. open': '600.6400', '2. high': '604.3700', '3. low': '598.5800', '4. close': '604.2200', '5. volume': '30653149'}, '2025-02-04': {'1. open': '597.8300', '2. high': '602.3000', '3. low': '597.2800', '4. close': '601.7800', '5. volume': '33457815'}, '2025-02-03': {'1. open': '592.6700', '2. high': '600.2900', '3. low': '590.4900', '4. close': '597.7700', '5. volume': '65857248'}, '2025-01-31': {'1. open': '607.5000', '2. high': '609.9600', '3. low': '601.0500', '4. close': '601.8200', '5. volume': '66671471'}, '2025-01-30': {'1. open': '603.9600', '2. high': '606.6000', '3. low': '600.7150', '4. close': '605.0400', '5. volume': '39281255'}, '2025-01-29': {'1. open': '603.7200', '2. high': '604.1300', '3. low': '599.2200', '4. close': '601.8100', '5. volume': '37177429'}, '2025-01-28': {'1. open': '600.6200', '2. high': '605.3700', '3. low': '597.2500', '4. close': '604.5200', '5. volume': '44433322'}, '2025-01-27': {'1. open': '594.8100', '2. high': '599.6900', '3. low': '594.6400', '4. close': '599.3700', '5. volume': '70361125'}, '2025-01-24': {'1. open': '609.8100', '2. high': '610.7800', '3. low': '606.8000', '4. close': '607.9700', '5. volume': '34604693'}, '2025-01-23': {'1. open': '605.8000', '2. high': '609.7500', '3. low': '605.5200', '4. close': '609.7500', '5. volume': '41152102'}, '2025-01-22': {'1. open': '605.9200', '2. high': '607.8200', '3. low': '605.3600', '4. close': '606.4400', '5. volume': '48195973'}, '2025-01-21': {'1. open': '600.6700', '2. high': '603.0600', '3. low': '598.6700', '4. close': '603.0500', '5. volume': '42532853'}, '2025-01-17': {'1. open': '596.9600', '2. high': '599.3600', '3. low': '595.6100', '4. close': '597.5800', '5. volume': '58070628'}, '2025-01-16': {'1. open': '594.1750', '2. high': '594.3500', '3. low': '590.9300', '4. close': '591.6400', '5. volume': '43319662'}, '2025-01-15': {'1. open': '590.3250', '2. high': '593.9400', '3. low': '589.1950', '4. close': '592.7800', '5. volume': '56900159'}, '2025-01-14': {'1. open': '584.3600', '2. high': '585.0000', '3. low': '578.3500', '4. close': '582.1900', '5. volume': '48420580'}, '2025-01-13': {'1. open': '575.7700', '2. high': '581.7500', '3. low': '575.3500', '4. close': '581.3900', '5. volume': '47910060'}, '2025-01-10': {'1. open': '585.8800', '2. high': '585.9500', '3. low': '578.5500', '4. close': '580.4900', '5. volume': '73105046'}, '2025-01-08': {'1. open': '588.7000', '2. high': '590.5799', '3. low': '585.1950', '4. close': '589.4900', '5. volume': '47304672'}, '2025-01-07': {'1. open': '597.4200', '2. high': '597.7500', '3. low': '586.7800', '4. close': '588.6300', '5. volume': '60393052'}, '2025-01-06': {'1. open': '596.2700', '2. high': '599.7000', '3. low': '593.6000', '4. close': '595.3600', '5. volume': '47679442'}, '2025-01-03': {'1. open': '587.5300', '2. high': '592.6000', '3. low': '586.4300', '4. close': '591.9500', '5. volume': '37888459'}, '2025-01-02': {'1. open': '589.3900', '2. high': '591.1300', '3. low': '580.5000', '4. close': '584.6400', '5. volume': '50203975'}, '2024-12-31': {'1. open': '589.9050', '2. high': '590.6399', '3. low': '584.4200', '4. close': '586.0800', '5. volume': '57052654'}, '2024-12-30': {'1. open': '587.8900', '2. high': '591.7400', '3. low': '584.4100', '4. close': '588.2200', '5. volume': '56578757'}, '2024-12-27': {'1. open': '597.5400', '2. high': '597.7761', '3. low': '590.7647', '4. close': '595.0100', '5. volume': '64969310'}, '2024-12-26': {'1. open': '599.5000', '2. high': '602.4800', '3. low': '598.0825', '4. close': '601.3400', '5. volume': '41338891'}, '2024-12-24': {'1. open': '596.0600', '2. high': '601.3400', '3. low': '595.4700', '4. close': '601.3000', '5. volume': '33160097'}, '2024-12-23': {'1. open': '590.8900', '2. high': '595.3000', '3. low': '587.6610', '4. close': '594.6900', '5. volume': '57635828'}, '2024-12-20': {'1. open': '581.7700', '2. high': '595.7500', '3. low': '580.9100', '4. close': '591.1500', '5. volume': '125716674'}, '2024-12-19': {'1. open': '591.3600', '2. high': '593.0000', '3. low': '585.8500', '4. close': '586.1000', '5. volume': '85919452'}, '2024-12-18': {'1. open': '603.9800', '2. high': '606.4050', '3. low': '585.8900', '4. close': '586.2800', '5. volume': '108248729'}, '2024-12-17': {'1. open': '604.1900', '2. high': '605.1700', '3. low': '602.8850', '4. close': '604.2900', '5. volume': '55773545'}, '2024-12-16': {'1. open': '606.0000', '2. high': '607.7795', '3. low': '605.2100', '4. close': '606.7900', '5. volume': '43695179'}, '2024-12-13': {'1. open': '606.4000', '2. high': '607.1300', '3. low': '602.8100', '4. close': '604.2100', '5. volume': '35904730'}, '2024-12-12': {'1. open': '606.5800', '2. high': '607.1600', '3. low': '604.3300', '4. close': '604.3300', '5. volume': '31543812'}, '2024-12-11': {'1. open': '605.7800', '2. high': '608.4350', '3. low': '605.5000', '4. close': '607.4600', '5. volume': '28677723'}, '2024-12-10': {'1. open': '605.3700', '2. high': '605.8000', '3. low': '602.1300', '4. close': '602.8000', '5. volume': '37234515'}, '2024-12-09': {'1. open': '607.6900', '2. high': '607.8600', '3. low': '604.0800', '4. close': '604.6800', '5. volume': '34742738'}, '2024-12-06': {'1. open': '607.4400', '2. high': '609.0700', '3. low': '607.0200', '4. close': '607.8100', '5. volume': '31241549'}, '2024-12-05': {'1. open': '607.6600', '2. high': '608.4800', '3. low': '606.3050', '4. close': '606.6600', '5. volume': '28762183'}, '2024-12-04': {'1. open': '605.6300', '2. high': '607.9100', '3. low': '604.9500', '4. close': '607.6600', '5. volume': '42787561'}, '2024-12-03': {'1. open': '603.3900', '2. high': '604.1600', '3. low': '602.3410', '4. close': '603.9100', '5. volume': '26906629'}, '2024-12-02': {'1. open': '602.9700', '2. high': '604.3200', '3. low': '602.4700', '4. close': '603.6300', '5. volume': '31745989'}, '2024-11-29': {'1. open': '599.6600', '2. high': '603.3500', '3. low': '599.3800', '4. close': '602.5500', '5. volume': '30095740'}, '2024-11-27': {'1. open': '600.4600', '2. high': '600.8500', '3. low': '597.2800', '4. close': '598.8300', '5. volume': '34000163'}, '2024-11-26': {'1. open': '598.8000', '2. high': '601.3300', '3. low': '598.0700', '4. close': '600.6500', '5. volume': '45621288'}, '2024-11-25': {'1. open': '599.5200', '2. high': '600.8600', '3. low': '595.2000', '4. close': '597.5300', '5. volume': '42441393'}, '2024-11-22': {'1. open': '593.6600', '2. high': '596.1500', '3. low': '593.1525', '4. close': '595.5100', '5. volume': '38226390'}, '2024-11-21': {'1. open': '593.4000', '2. high': '595.1200', '3. low': '587.4500', '4. close': '593.6700', '5. volume': '46750285'}, '2024-11-20': {'1. open': '590.3800', '2. high': '590.7900', '3. low': '584.6300', '4. close': '590.5000', '5. volume': '50032576'}, '2024-11-19': {'1. open': '584.7100', '2. high': '591.0450', '3. low': '584.0300', '4. close': '590.3000', '5. volume': '49412046'}, '2024-11-18': {'1. open': '586.2200', '2. high': '589.4900', '3. low': '585.3400', '4. close': '588.1500', '5. volume': '37084081'}, '2024-11-15': {'1. open': '589.7200', '2. high': '590.2000', '3. low': '583.8600', '4. close': '585.7500', '5. volume': '75988766'}, '2024-11-14': {'1. open': '597.3200', '2. high': '597.8100', '3. low': '592.6500', '4. close': '593.3500', '5. volume': '38904109'}, '2024-11-13': {'1. open': '597.3700', '2. high': '599.2300', '3. low': '594.9600', '4. close': '597.1900', '5. volume': '47388640'}, '2024-11-12': {'1. open': '598.6800', '2. high': '599.2900', '3. low': '594.3700', '4. close': '596.9000', '5. volume': '43006128'}, '2024-11-11': {'1. open': '599.8100', '2. high': '600.1700', '3. low': '597.0000', '4. close': '598.7600', '5. volume': '37586773'}, '2024-11-08': {'1. open': '596.1700', '2. high': '599.6400', '3. low': '596.1650', '4. close': '598.1900', '5. volume': '46444893'}, '2024-11-07': {'1. open': '593.0800', '2. high': '596.6500', '3. low': '592.9999', '4. close': '595.6100', '5. volume': '47233212'}, '2024-11-06': {'1. open': '589.2000', '2. high': '591.9300', '3. low': '585.3900', '4. close': '591.0400', '5. volume': '68181968'}, '2024-11-05': {'1. open': '570.7400', '2. high': '576.7400', '3. low': '570.5200', '4. close': '576.7000', '5. volume': '39478322'}, '2024-11-04': {'1. open': '571.1800', '2. high': '572.5000', '3. low': '567.8900', '4. close': '569.8100', '5. volume': '38216975'}, '2024-11-01': {'1. open': '571.3200', '2. high': '575.5500', '3. low': '570.6200', '4. close': '571.0400', '5. volume': '45667533'}, '2024-10-31': {'1. open': '575.5600', '2. high': '575.6300', '3. low': '568.4400', '4. close': '568.6400', '5. volume': '60182451'}, '2024-10-30': {'1. open': '581.2900', '2. high': '583.3200', '3. low': '579.2900', '4. close': '580.0100', '5. volume': '41435839'}, '2024-10-29': {'1. open': '579.8500', '2. high': '582.9070', '3. low': '578.4300', '4. close': '581.7700', '5. volume': '42899661'}, '2024-10-28': {'1. open': '582.5800', '2. high': '582.7100', '3. low': '580.5200', '4. close': '580.8300', '5. volume': '30174704'}, '2024-10-25': {'1. open': '581.5100', '2. high': '584.4600', '3. low': '578.0800', '4. close': '579.0400', '5. volume': '47268176'}, '2024-10-24': {'1. open': '579.9800', '2. high': '580.0600', '3. low': '576.5700', '4. close': '579.2400', '5. volume': '34979860'}, '2024-10-23': {'1. open': '581.2600', '2. high': '581.7086', '3. low': '574.4150', '4. close': '577.9900', '5. volume': '49314574'}, '2024-10-22': {'1. open': '581.0500', '2. high': '584.5000', '3. low': '580.3800', '4. close': '583.3200', '5. volume': '34183835'}, '2024-10-21': {'1. open': '583.8500', '2. high': '584.8500', '3. low': '580.6001', '4. close': '583.6300', '5. volume': '36439010'}, '2024-10-18': {'1. open': '584.0700', '2. high': '585.3900', '3. low': '582.5800', '4. close': '584.5900', '5. volume': '37416801'}, '2024-10-17': {'1. open': '585.9100', '2. high': '586.1200', '3. low': '582.1600', '4. close': '582.3500', '5. volume': '34393714'}, '2024-10-16': {'1. open': '579.7800', '2. high': '582.8300', '3. low': '578.9600', '4. close': '582.3000', '5. volume': '30725436'}, '2024-10-15': {'1. open': '584.5900', '2. high': '584.9000', '3. low': '578.5450', '4. close': '579.7800', '5. volume': '54203636'}, '2024-10-14': {'1. open': '581.2200', '2. high': '585.2700', '3. low': '580.7300', '4. close': '584.3200', '5. volume': '36217215'}}

In [7]:
# Convert to DataFrame
df = pd.DataFrame.from_dict(time_series, orient="index")
df

             1. open   2. high    3. low  4. close  5. volume
2025-03-10  567.5900  569.5400  555.5900  560.5800   97084529
2025-03-07  570.9000  577.3900  565.6300  575.9200   81158816
2025-03-06  575.4800  580.1736  570.1200  572.7100   80094868
2025-03-05  576.6900  584.8800  573.0795  583.0600   71230528
2025-03-04  579.7100  585.3900  572.2500  576.8600  109648212
...              ...       ...       ...       ...        ...
2024-10-18  584.0700  585.3900  582.5800  584.5900   37416801
2024-10-17  585.9100  586.1200  582.1600  582.3500   34393714
2024-10-16  579.7800  582.8300  578.9600  582.3000   30725436
2024-10-15  584.5900  584.9000  578.5450  579.7800   54203636
2024-10-14  581.2200  585.2700  580.7300  584.3200   36217215

[100 rows x 5 columns]

In [8]:
# Rename columns for readability
df.columns = ["open", "high", "low", "close", "volume"]
df

                open      high       low     close     volume
2025-03-10  567.5900  569.5400  555.5900  560.5800   97084529
2025-03-07  570.9000  577.3900  565.6300  575.9200   81158816
2025-03-06  575.4800  580.1736  570.1200  572.7100   80094868
2025-03-05  576.6900  584.8800  573.0795  583.0600   71230528
2025-03-04  579.7100  585.3900  572.2500  576.8600  109648212
...              ...       ...       ...       ...        ...
2024-10-18  584.0700  585.3900  582.5800  584.5900   37416801
2024-10-17  585.9100  586.1200  582.1600  582.3500   34393714
2024-10-16  579.7800  582.8300  578.9600  582.3000   30725436
2024-10-15  584.5900  584.9000  578.5450  579.7800   54203636
2024-10-14  581.2200  585.2700  580.7300  584.3200   36217215

[100 rows x 5 columns]

In [9]:
# Reset index to make the date a column
df = df.reset_index()

In [10]:
# Rename the new column to "date" (if it’s not automatically named)
df = df.rename(columns={"index": "date"})
df

          date      open      high       low     close     volume
0   2025-03-10  567.5900  569.5400  555.5900  560.5800   97084529
1   2025-03-07  570.9000  577.3900  565.6300  575.9200   81158816
2   2025-03-06  575.4800  580.1736  570.1200  572.7100   80094868
3   2025-03-05  576.6900  584.8800  573.0795  583.0600   71230528
4   2025-03-04  579.7100  585.3900  572.2500  576.8600  109648212
..         ...       ...       ...       ...       ...        ...
95  2024-10-18  584.0700  585.3900  582.5800  584.5900   37416801
96  2024-10-17  585.9100  586.1200  582.1600  582.3500   34393714
97  2024-10-16  579.7800  582.8300  578.9600  582.3000   30725436
98  2024-10-15  584.5900  584.9000  578.5450  579.7800   54203636
99  2024-10-14  581.2200  585.2700  580.7300  584.3200   36217215

[100 rows x 6 columns]

In [11]:
# Convert to datetime format (recommended)
df["date"] = pd.to_datetime(df["date"])

# Display the DataFrame
df

         date      open      high       low     close     volume
0  2025-03-10  567.5900  569.5400  555.5900  560.5800   97084529
1  2025-03-07  570.9000  577.3900  565.6300  575.9200   81158816
2  2025-03-06  575.4800  580.1736  570.1200  572.7100   80094868
3  2025-03-05  576.6900  584.8800  573.0795  583.0600   71230528
4  2025-03-04  579.7100  585.3900  572.2500  576.8600  109648212
..        ...       ...       ...       ...       ...        ...
95 2024-10-18  584.0700  585.3900  582.5800  584.5900   37416801
96 2024-10-17  585.9100  586.1200  582.1600  582.3500   34393714
97 2024-10-16  579.7800  582.8300  578.9600  582.3000   30725436
98 2024-10-15  584.5900  584.9000  578.5450  579.7800   54203636
99 2024-10-14  581.2200  585.2700  580.7300  584.3200   36217215

[100 rows x 6 columns]

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    100 non-null    datetime64[ns]
 1   open    100 non-null    object
 2   high    100 non-null    object
 3   low     100 non-null    object
 4   close   100 non-null    object
 5   volume  100 non-null    object
dtypes: datetime64[ns](1), object(5)
memory usage: 4.8+ KB

In [13]:
df.isnull().sum()

date      0
open      0
high      0
low       0
close     0
volume    0
dtype: int64

In [14]:
df.describe()

                      date
count                  100
mean   2024-12-25 00:00:00
min    2024-10-14 00:00:00
25%    2024-11-17 06:00:00
50%    2024-12-23 12:00:00
75%    2025-01-31 18:00:00
max    2025-03-10 00:00:00